<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_CartAjax>
            <version>0.1.0</version>
        </Wsu_CartAjax>
    </modules>
    <frontend>
        <routers>
            <cartajax>
                <use>standard</use>
                <args>
                    <module>Wsu_CartAjax</module>
                    <frontName>cartajax</frontName>
                </args>
            </cartajax>
        </routers>
        <layout>
            <updates>
                <cartajax>
                    <file>ajax.xml</file>
                </cartajax>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <cartajax>
                <class>Wsu_CartAjax_Model</class>
                <resourceModel>cartajax_mysql4</resourceModel>
            </cartajax>
            <cartajax_mysql4>
                <class>Wsu_CartAjax_Model_Mysql4</class>
                <entities>
                    <cartajax>
                        <table>cartajax</table>
                    </cartajax>
                </entities>
            </cartajax_mysql4>
        </models>
        <resources>
            <cartajax_setup>
                <setup>
                    <module>Wsu_CartAjax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartajax_setup>
            <cartajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartajax_write>
            <cartajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartajax_read>
        </resources>
        <blocks>
        	<checkout>
        		<rewrite>
        			<cart_sidebar>Wsu_CartAjax_Block_Cart_Sidebar</cart_sidebar>
        		</rewrite>
        	</checkout>
            <cartajax>
                <class>Wsu_CartAjax_Block</class>
            </cartajax>
        </blocks>
        <helpers>
            <cartajax>
                <class>Wsu_CartAjax_Helper</class>
            </cartajax>
        </helpers>
    </global>
</config>
