<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_Cartajax>
            <version>0.1.0</version>
        </Wsu_Cartajax>
    </modules>
    <frontend>
        <routers>
            <cartajax>
                <use>standard</use>
                <args>
                    <module>Wsu_Cartajax</module>
                    <frontName>cartajax</frontName>
                </args>
            </cartajax>
        </routers>
        <layout>
            <updates>
                <cartajax>
                    <file>ajax.xml</file>
                </cartajax>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <cartajax>
                <class>Wsu_Cartajax_Model</class>
                <resourceModel>cartajax_mysql4</resourceModel>
            </cartajax>
            <cartajax_mysql4>
                <class>Wsu_Cartajax_Model_Mysql4</class>
                <entities>
                    <cartajax>
                        <table>cartajax</table>
                    </cartajax>
                </entities>
            </cartajax_mysql4>
        </models>
        <resources>
            <cartajax_setup>
                <setup>
                    <module>Wsu_Cartajax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartajax_setup>
            <cartajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartajax_write>
            <cartajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartajax_read>
        </resources>
        <blocks>
        	<checkout>
        		<rewrite>
        			<cart_sidebar>Wsu_Cartajax_Block_Cart_Sidebar</cart_sidebar>
        		</rewrite>
        	</checkout>
            <cartajax>
                <class>Wsu_Cartajax_Block</class>
            </cartajax>
        </blocks>
        <helpers>
            <cartajax>
                <class>Wsu_Cartajax_Helper</class>
            </cartajax>
        </helpers>
		<catalog_product_load_after>
			<observers>
				<extra_options>
					<type>model</type>
					<class>cartajax/observer</class>
					<method>catalogProductLoadAfter</method>
				</extra_options>
			</observers>
		</catalog_product_load_after>
		<sales_convert_quote_item_to_order_item>
			<observers>
				<extra_options>
					<type>model</type>
					<class>cartajax/observer</class>
					<method>salesConvertQuoteItemToOrderItem</method>
				</extra_options>
			</observers>
		</sales_convert_quote_item_to_order_item>
		<checkout_cart_product_add_after>
			<observers>
				<extra_options>
					<type>singleton</type>
					<class>cartajax/observer</class>
					<method>checkoutCartProductAddAfter</method>
				</extra_options>
			</observers>
		</checkout_cart_product_add_after>
		
		
    </global>
</config>
